In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\ellio\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value = 528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_types = application_df['CLASSIFICATION'].value_counts()
classification_types

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_cleaned = classification_types.loc[classification_types > 1]
classifications_cleaned

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_types.iloc[5:].index)
cutoff_value_classifications = 1918

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
## COMILE, TRAIN AND EVALUATE THE MODEL

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = input_features_total, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = "relu"))

# Output layer
#nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\ellio\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

=================================================================
Total params: 397 (1.55 KB)
Trainable params: 397 (1.55 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\ellio\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\ellio\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\ellio\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 9s 6ms/step - loss: 3.0091 - accuracy: 0.1032
Epoch 2/100
804/804 [==============================] - 5s 7ms/step - loss: 1.9822 - accuracy: 0.1440
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 1.4736 - accuracy: 0.1869
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 1.2881 - accuracy: 0.2423
Epoch 5/100
804/804 [==============================] - 4s 5ms/step - loss: 1.1903 - accuracy: 0.2585
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.9613 - accuracy: 0.2398
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.8643 - accuracy: 0.2343
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.8299 - accuracy: 0.2160
Epoch 9/100
804/804 [==============================] - 4s 5ms/step - loss: 0.8004 - accuracy: 0.2473
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.7400 - accuracy: 0.2780
Epoch 11/100
804/804 [==============================] - 4s 6ms/step - loss: 0.6656 - accuracy: 0.2393
Epoch 12/100
804/804 [==============================] - 4s 4ms/step - loss: 0.6305 - accuracy: 0.3382
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6154 - accuracy: 0.3870
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6080 - accuracy: 0.3360
Epoch 15/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6037 - accuracy: 0.2951
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6056 - accuracy: 0.4125
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6011 - accuracy: 0.3632
Epoch 18/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5933 - accuracy: 0.3117
Epoch 19/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5878 - accuracy: 0.3283
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5853 - accuracy: 0.2984
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5836 - accuracy: 0.3087
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5811 - accuracy: 0.2626
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5886 - accuracy: 0.2034
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5804 - accuracy: 0.2928
Epoch 25/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5750 - accuracy: 0.3163
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5743 - accuracy: 0.2565
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5694 - accuracy: 0.2493
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5722 - accuracy: 0.2373
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5722 - accuracy: 0.2739
Epoch 30/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5700 - accuracy: 0.3274
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5647 - accuracy: 0.1537
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5660 - accuracy: 0.1761
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5656 - accuracy: 0.1819
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5716 - accuracy: 0.1668
Epoch 35/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5684 - accuracy: 0.3438
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5666 - accuracy: 0.4376
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5647 - accuracy: 0.3264
Epoch 38/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5629 - accuracy: 0.2063
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5625 - accuracy: 0.2465
Epoch 40/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5648 - accuracy: 0.2387
Epoch 41/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5626 - accuracy: 0.2650
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5628 - accuracy: 0.2509
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5627 - accuracy: 0.1196
Epoch 44/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5651 - accuracy: 0.1468
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5640 - accuracy: 0.1637
Epoch 46/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5615 - accuracy: 0.2128
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5612 - accuracy: 0.3235
Epoch 48/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5627 - accuracy: 0.3310
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5626 - accuracy: 0.2977
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5636 - accuracy: 0.3130
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5677 - accuracy: 0.1970
Epoch 52/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5630 - accuracy: 0.1711
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5627 - accuracy: 0.1986
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5620 - accuracy: 0.1759
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5627 - accuracy: 0.1958
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5620 - accuracy: 0.1824
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5620 - accuracy: 0.2013
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5628 - accuracy: 0.2363
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5640 - accuracy: 0.2103
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5619 - accuracy: 0.3272
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5612 - accuracy: 0.3032
Epoch 62/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5631 - accuracy: 0.2872
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5628 - accuracy: 0.2673
Epoch 64/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5617 - accuracy: 0.2482
Epoch 65/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5607 - accuracy: 0.2981
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5646 - accuracy: 0.1457
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5620 - accuracy: 0.2518
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5608 - accuracy: 0.3092
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5605 - accuracy: 0.2323
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5608 - accuracy: 0.1467
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5623 - accuracy: 0.1771
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5615 - accuracy: 0.1845
Epoch 73/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5619 - accuracy: 0.1468
Epoch 74/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5635 - accuracy: 0.0993
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5606 - accuracy: 0.2369
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5620 - accuracy: 0.2090

Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5614 - accuracy: 0.1738
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5629 - accuracy: 0.1461
Epoch 79/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5605 - accuracy: 0.2894
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5619 - accuracy: 0.2947
Epoch 81/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5605 - accuracy: 0.3228
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5605 - accuracy: 0.2686
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5613 - accuracy: 0.2230
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5604 - accuracy: 0.3898
Epoch 85/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5602 - accuracy: 0.2021
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5617 - accuracy: 0.1606
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5610 - accuracy: 0.1082
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5598 - accuracy: 0.0867
Epoch 89/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5602 - accuracy: 0.1478
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5595 - accuracy: 0.1041
Epoch 91/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5622 - accuracy: 0.0590
Epoch 92/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5636 - accuracy: 0.1297
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5600 - accuracy: 0.1807
Epoch 94/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5622 - accuracy: 0.1400
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5625 - accuracy: 0.2322
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5601 - accuracy: 0.1727
Epoch 97/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5602 - accuracy: 0.1641
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5601 - accuracy: 0.2538
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5598 - accuracy: 0.3209
Epoch 100/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5623 - accuracy: 0.2117

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5790 - accuracy: 0.1851 - 2s/epoch - 8ms/step
Loss: 0.5789673328399658, Accuracy: 0.1850728839635849

In [18]:
# Export our model to HDF5 file
filepath = r"C:\Users\ellio\Documents\Deep_Learning_Challenge\deep-learning-challenge\Charity.h5"
nn.save(filepath, save_format='h5')

C:\Users\ellio\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(